p{
    background-color: slateblue;
}

label, input{
    font-family: Arial;
}

div{
    
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    border-style: solid;
    background-color: lime;
    font-size: x-large;
    font-family: Arial;
    margin-top: 5px;
    margin-bottom: 5px;
    
}